<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/question-format.css">
    <title>הקורסים שלי</title>
</head>
<body  dir="rtl"> 
    <div class="timeBox">
        <div>
            <p class="timerTitle">זמן שנותר:</p>
            <div class="timer2">
                <h4 class="timer">00:30:00</h4>
            </div>
        </div>
    </div>
    <div class="TitleBox">
        <div class="Title1">
            <h1 class="Title">מבחן מסכם קורס ACLS</h1>
            <p class="SubTitle">משך זמן הבחינה: 30 דקות  | מספר שאלות: 25</p>
            <div class="lineBox">
                <div class="line"></div>
            </div>
            <p class="SubTitle2">בהצלחה!</p>
        </div>
    </div>
    <div class="testBox">
        <div class="test">
            <div class="questionBox">
                <div class="questionTitle">
                    <h3 class="questionText">1.</h3>
                    <h3 class="questionText">מהו רצף פעולות בסכמת החייאה?</h3>
                </div>
                <div class="answerBox">
                    <label class="answer">
                        <input class="chackbox" type="radio" name="radio" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                    <label class="answer" id="currect">
                        <span class="material-symbols-outlined">check_circle</span>
                        <h3 class="questionText2">תשובה נכונה</h3>  
                    </label>
                    <label class="answer" id="uncurrect">
                        <span class="material-symbols-outlined">cancel</span>
                        <h3 class="questionText2">תשובה לא נכונה</h3>  
                    </label>
                    <label class="answer">
                        <input class="chackbox" type="radio" name="radio" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                </div>
            </div>
            <div class="questionBox">
                <div class="questionTitle">
                    <h3 class="questionText">2.</h3>
                    <h3 class="questionText">מהו רצף פעולות בסכמת החייאה?</h3>
                </div>
                <div class="answerBox">
                    <label class="answer">
                        <input class="chackbox" type="radio" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                    <label class="answer">
                        <input class="chackbox" type="radio" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                    <label class="answer">
                        <input class="chackbox" type="radio" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                    <label class="answer">
                        <input class="chackbox" type="radio" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                </div>
            </div>
            <div class="questionBox">
                <div class="questionTitle">
                    <h3 class="questionText">2.</h3>
                    <h3 class="questionText">מהו רצף פעולות בסכמת החייאה?</h3>
                </div>
                <div class="answerBox">
                    <label class="answer">
                        <input class="chackbox" type="checkbox" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                    <label class="answer">
                        <input class="chackbox" type="checkbox" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                    <label class="answer">
                        <input class="chackbox" type="checkbox" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                    <label class="answer">
                        <input class="chackbox" type="checkbox" name="radio1" checked>
                        <h3 class="questionText2">תשובה</h3>  
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 