body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    --color-primary: #4296E3;
    --color-primary-dark: #3477b3;
    --color-error: #ca5858;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.6%;
    height: 100%;
}

.quiz {
    width: 33.3%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.quizBox {
    width: 100%;
}

.videoPlayer {
    height: auto;
    width: 100%;
}


.info {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 35px;
    margin-bottom: 15px;
}

.coursInput {
    outline: none;
    background-color: #EDEDED;
    color: #3a3a3a;
    font-weight: 100;
    height: 50px;
    text-align: right;
    padding: 1px 1em 1px 1px;
    font-size: 25px;
    width: 100%;
    font-family: 'Open Sans', sans-serif; 
    border-radius: 11px;
    border: 0;
}

.coursInput:focus {
    outline: #4296E3 solid 1px;   
}


.answers {
    width: 100%;
    height: max-content;
}

.answerBox {
    width: 100%;
    height: 70px; 
}
.answer {
    outline: none;
    background-color: #EDEDED;
    color: #3a3a3a;
    font-weight: 100;
    height: 50px;
    text-align: right;
    padding: 1px 1em 1px 1px;
    font-size: 25px;
    width: 90%;
    font-family: 'Open Sans', sans-serif; 
    border-radius: 11px;
    border: 0;
}

.titleOfQuiz {
    margin-bottom: 30px;
}


.contols {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.save {
    outline: none;
    background-color: #4296E3;
    color: white;
    font-weight: 100;
    height: 50px;
    text-align: center;
    font-size: 25px;
    width: 50%;
    font-family: 'Open Sans', sans-serif; 
    border-radius: 11px;
    border: 0;
    cursor: pointer;
}

.delete {
    outline: none;
    background-color: #EDEDED;
    color: black;
    font-weight: 100;
    height: 50px;
    text-align: center;
    font-size: 25px;
    width: 50%;
    font-family: 'Open Sans', sans-serif; 
    border-radius: 11px;
    border: 0;
    cursor: pointer;
}

.save:hover {
    background-color: #3477b3;
}

.delete:hover {
    background-color: #b9b9b9;
}