body {
    --color-primary: #4296E3;
    --color-primary-dark: #3477b3;
    --color-error: #ca5858;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;  
    margin-bottom: 15px;
}

.header2 {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;
}

.email {
    font-size: 20px;
    margin-top: 0;
}

.name {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

.header2 > a > span {
    font-size: 50px;
    cursor: pointer;
    color: black;
}

.userControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100px;
}

.contorlButtons {
    border: 0;    
    height: 40px;
    width: 40px;
    border-radius: 15px;
    color: white;
}

.deleteForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contorlButtons:first-child {
    background-color: #4296E3;
}

.contorlButtons:last-child {
    background-color: #ca5858;
}

.contorlButtons:hover {
    background-color: #222222;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 80%;
    grid-gap: 15px;
}

.userInfo {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid;
    border-color: #f0f0f0;
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.userCourses {
    border: 1px solid;
    border-color: #f0f0f0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.infoTitle {
    width: 100%;
    height: 10%;
    font-size: 30px;
    
}

.infoTitle > h3 {
    margin-bottom: 15px;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.userInput {
    outline: none;
    background-color: #EDEDED;
    color: #3a3a3a;
    font-weight: 100;
    height: 50px;
    text-align: right;
    padding: 1px 1em 1px 1px;
    font-size: 25px;
    width: 90%;
    font-family: 'Open Sans', sans-serif; 
    border-radius: 11px;
    border: 0;
}

.userInput:focus {
    outline: #4296E3 solid 1px;   
}

.activeCourses {
    height: 600px;
    overflow: auto;
}

.cours {
    border: 1px solid;
    border-color: #f0f0f0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px; 
    display: flex;  
    align-items: center;
    justify-content: right;
    height: 100px;
    margin-bottom: 15px;
}

.cours2 {
    border: 1px solid;
    border-color: #f0f0f0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px; 
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 15px;
    cursor: pointer;
}

.imageCours1 {
    height: 80px;
    width: 80px;
    border-radius: 14px;
}

.coursTitle {
    margin-right: 15px;
}

.coursName {
    margin: 0;
}
.coursDes {
    margin: 0;
}

.alert {
    display: none;
    width: 400px;
    height: 200px;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 1px solid;
    border-color: #f0f0f0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}

.alertDiv {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(22, 22, 22);
    font-size: 30px;
}

.alertDiv:last-child {
    justify-content: space-around;
}

.alertButton {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

.alertButton:first-child {
    background-color: #ca5858;
    color: white;
}

.alertButton:first-child:hover {
    background-color: #923f3f;
}

.alertButton:hover {
    background-color: #e6e6e6;
}

.alertshow {
    display: block;
}

.form1 {
    margin: 0;
    padding: 0;
}

.saveBox {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10%;
    margin-top: 50px;
}

.savebutton {
    width: 200px;
    background-color: #4296E3;
    height: 50px;
    border: 0;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

.savebutton:hover {
    cursor: pointer;
    background-color: #3477b3;
}

.savebutton2 {
    background-color: #eeeeee;
    color: #222222;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}